#account-container {
    display: flex;
}

#account-info-container {
    width: calc(35% - 40px);
    margin-right: 40px;
}

#account-info {
    height: 300px;
}

#account-info-container .button {
    width: 100%;
    display: block;
    text-align: left;
}

#account-listings-container {
    width: 65%;
    margin-top: 30px;
    --three: calc(33% - 10px);
    display: grid;
    grid-template-columns: var(--three) var(--three) var(--three);
    gap: 10px;
}

#account-listings-container .button {
    height: min-content;
}

.listing-card-image-container {
    height: 18vw;
}