#chat-container {
    height: 100%;
    display: grid;
    grid-template-rows: 60px auto 70px;
}

#messages-header {
    height: 60px;
    box-sizing: border-box;
    border-bottom: var(--grey) 1px solid;
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    align-items: center;
}

#messages-header a {
    display: block;
    padding: 16px;
}

#messages-header a:hover {
    color: var(--scu-red);
    cursor: pointer;
}

#messages-header > div {
    padding: 0 5px;
    text-align: right;
}

#messages-container {
    min-height: 100px;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#messages-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#messages-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#messages-content {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items:baseline;
}

#messages-content > p {
    max-width: 70%;
    margin: 2px 0;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
}

#messages-content > .recieved {
    background-color: var(--white);
    border: var(--grey) 1px solid;
}

#messages-content > .sent {
    border: var(--light-grey) 1px solid;
    background-color: var(--light-grey);
    align-self: end;
}

#chat-closed-message {
    width: 100%;
    /* padding: 20px 0; */
    text-align: center;
    color: #777777;
    font-style: italic;
}

#input-container {
    width: 100%;
    border-top: var(--grey) 1px solid;
    background-color: var(--light-grey);
}

#chat-input {
    width: calc(100% - 40px);
    height: 30px;
    margin: 10px;
    padding: 0 10px;
    border: var(--grey) 1px solid;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--black);
}