#chat-container {
    border: var(--grey) 1px solid;
    width: 35%;
    min-width: 400px;
    /* height: 600px; */
    height: 100vh;
    top:0;
    right: 1px;
    display: grid;
    grid-template-rows: 60px auto 70px;
    position: fixed;
    background-color: var(--white);
}

#chat-heading-container{
    padding: 20px;
    border-bottom: var(--grey) 1px solid;
    text-align: center;
}

#chat-close-button {
    position: absolute;
    left: 7px;
    top: 0;
    border: none;
}

#messages-container {
    min-height: 100px;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#messages-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#messages-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#messages-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items:baseline;
}

#messages-content > p {
    max-width: 70%;
    margin: 2px 0;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
}

#messages-content > .recieved {
    background-color: var(--white);
    border: var(--grey) 1px solid;
}

#messages-content > .sent {
    border: var(--light-grey) 1px solid;
    background-color: var(--light-grey);
    align-self: end;
}

#input-container {
    width: 100%;
    border-top: var(--grey) 1px solid;
    background-color: var(--light-grey);
}

#chat-input {
    width: calc(100% - 40px);
    height: 30px;
    margin: 10px;
    padding: 0 10px;
    border: var(--grey) 1px solid;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--black);
}