#listing-desc {
    padding: 10px;
    height: 100px;
}

#listing-form {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

#listing-form label {
    margin-top: 10px;
    display: block;
}

.textbox {
    min-height: 30px;
    width: 70%;
    margin: 10px 0;
    padding: 0 10px;
    border: var(--grey) 1px solid;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--black);
}

@media only screen and (max-width: 1050px) {
    #listing-form {
        display: block;
    }

    #listing-form > div {
        margin-bottom: 20px;
    }

    .textbox {
        width: 90%;
    }
}

.grid-item-wide {
    grid-column: auto / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selection-container {
    display: flex;
}

.selection-chip {
    margin: 5px;
    overflow: hidden;
}

.selected {
    color: var(--scu-red);
    box-shadow: 0 5px 5px 2px rgb(255, 220, 220);
}

.selected:hover {
    cursor: default;
    box-shadow: 0 5px 5px 2px rgb(255, 220, 220);
}

#submit {
    padding: 15px 30px;
    font-weight: bold;
}

#error-msg {
    color: red;
}

#popup-container {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    position: fixed;
}

#popup-bg {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 9;
}

#popup {
    width: 50%;
    max-height: 40%;
    padding: 10px 15px;
    border: var(--grey) 1px solid;
    border-radius: 5px;
    background-color: var(--white);
    z-index: 10;
    display: block;
    position: fixed;
    text-align: center;
}