#filter-container #popup {
    width: 50vw;
    min-width: 600px;
    padding: 20px 40px 40px 40px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#filter-container #popup::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#filter-container #popup {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#filter-buttons-container {
  display: flex;
  justify-content: start;
}

#filter-buttons-container > * {
    margin-right: 10px;
}

#filter-select {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 40px;
}

#location-options {
    column-count: 2;
}