#listing-container {
    
    display:grid;
    grid-template-columns: 50% 40%;
    gap: 20px;
}

@media only screen and (max-width: 1050px) {
    #listing-container {
        grid-template-columns: 100%;
    }
}

#listing-container .button {
    width: 100%;
}

.gallery-image {
    width: 200px;
}

.gallery-thumbnail {
    width: 100px;
}

#gallery-thumbnail-container button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
}

#gallery-thumbnail-container .inactive {
    opacity: 0.7;
    transition: 0.2s;
}

#gallery-thumbnail-container .inactive:hover {
    cursor: pointer;
    opacity: 1;
}