#listing-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 60% 30%;
    gap: 30px;
    transition: width 1s;
}

#listing-container.chat-active {
    width: calc(70% - 10px);
}

#listing-gallery-container {
    display: grid;
    grid-template-columns: 100px 50px auto 50px;
    gap: 15px;
}

#listing-container .button {
    width: 100%;
}

#gallery-image-container {
    height: 500px;
    display: flex;
}

.gallery-image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.gallery-pg-container {
    display: flex;
}

.gallery-pg-container > button {
    width: 100%;
    height: 100px;
    margin: auto;
}

.gallery-pg-button {
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}

.gallery-pg-button:hover {
    cursor: pointer;
}

.gallery-pg-button-inactive {
    border: none;
    border-radius: 5px;
    transition: 0.2s;
    background-color: #f4f4f49c;
}

.gallery-pg-button-inactive:hover {
    background-color: #f4f4f49c;
    
}

#gallery-thumbnail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-thumbnail {
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
}

#gallery-thumbnail-container button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;
    display: flex;
}

#gallery-thumbnail-container .inactive {
    opacity: 0.7;
    transition: 0.2s;
}

#gallery-thumbnail-container .inactive:hover {
    cursor: pointer;
    opacity: 1;
}

@media only screen and (max-width: 1050px) {
    #listing-container {
        grid-template-columns: 100%;
    }

    #listing-gallery-container {
        grid-template-columns: 50px auto 50px;
    }

    #gallery-thumbnail-container {
        grid-column: 1 / span 3;
        grid-row: 2;
        flex-direction: row;
        justify-content: center;
    }

    #listing-container.chat-active {
        width: calc(60% - 10px);
    }
}

#listing-price {
    margin-bottom: 0;
    font-size: 2rem;
}


#side-chat-container {
    border: var(--grey) 1px solid;
    width: 35%;
    min-width: 400px;
    /* height: 600px; */
    height: 100vh;
    top:0;
    right: 1px;
    display: grid;
    grid-template-rows: 65px auto;
    position: fixed;
    background-color: var(--white);
}

#chat-heading-container{
    padding: 20px;
    border-bottom: var(--grey) 1px solid;
    text-align: center;
}

#chat-close-button {
    position: absolute;
    left: 7px;
    top: 0;
    border: none;
}