#listings-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;

}

@media only screen and (max-width: 1100px) {
    #market-container {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 800px) {
    #market-container {
        grid-template-columns: auto auto;
    }
}

.pagination-container {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-button {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border: none;
    border-radius: 50%;
    background-color: var(--button);
    text-align: center;
    transition: 0.2s;
}

.pagination-button:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}

.pagination-container .inactive {
    background-color: var(--button-inactive);
}

.pagination-container .active {
    background-color: var(--button-hover);
}

.pagination-container .inactive:hover, .pagination-container .active:hover {
    cursor: default;
}