#messages-page-container {
    display: flex;
    height: calc(100vh - 200px);
}

@media only screen and (max-width: 1050px) {
    #messages-page-container {
        height: calc(100vh - 250px);
    }
}

#chat-list {
    width: 40%;
    padding: 0 10px;
    border: var(--grey) 1px solid;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#chat-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#chat-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.chat-list-item {
    width: 100%;
    height: 100px;
    display: block;
    text-align: left;
}

#wide-chat-container {
    width: 60%;
    border: var(--grey) 1px solid;
    border-left: none;
}

#wide-chat-container > #chat-container {
    height: 100%;
}