#messages-page-container {
    display: flex;
    height: calc(100vh - 200px);
}

@media only screen and (max-width: 1050px) {
    #messages-page-container {
        height: calc(100vh - 250px);
    }
}

#chat-list {
    width: 40%;
    padding: 0 10px;
    border: var(--grey) 1px solid;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#chat-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#chat-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.chat-list-item {
    width: 100%;
    height: 100px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-list-item.active {
    box-shadow: 0 0 5px var(--scu-red);
}

.chat-list-item.active:hover {
    box-shadow: 0 0 5px var(--scu-red);
}

.chat-list-item.disabled {
    background-color: var(--light-grey);
}

.chat-list-item.disabled:hover {
    box-shadow: none;
}

#wide-chat-container {
    width: 60%;
    border: var(--grey) 1px solid;
    border-left: none;
}

#wide-chat-heading {
    height: 40px;
    border-bottom: var(--grey) 1px solid;
    text-align: center;
}

#wide-chat-heading a {
    display: block;
    padding: 7px;
}

#wide-chat-heading a:hover {
    color: var(--scu-red);
    cursor: pointer;
}

#wide-chat-container > #chat-container {
    height: calc(100% - 41px);
}