#popup-container.request-popup {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 1000;
}

#popup.request-popup {
    max-height: 70%;
}

#request-form div {
    width: 100%;
    margin: 10px auto;
}

#request-form .first-row {
    display: flex;
    justify-content: space-evenly;
}

#request-body {
    width: calc(100% - 60px);
    height: 100px;
    padding: 5px;
}

#request-form #control-buttons {
    display: flex;
    justify-content: center;
}

#request-form #control-buttons button {
    margin: 10px;
}