#saved-listings-container {
    --four: calc(25% - 10px);
    display: grid;
    grid-template-columns: var(--four) var(--four) var(--four) var(--four);
    gap: 10px;
}

.listing-card-image-container {
    height: 22vw;
}

@media only screen and (max-width: 1100px) {
    #saved-listings-container {
        grid-template-columns: 33% 33% 33%;
    }

    .listing-card-image-container {
      height: 28vw;
    }

    .listing-card-image {
      max-height: 28vw;
    }
}

@media only screen and (max-width: 800px) {
    #saved-listings-container {
        grid-template-columns: 50% 50%;
    }

    .listing-card-image-container {
      height: 40vw;
    }

    .listing-card-image {
      max-height: 40vw;
    }
}