.listing {
  width: 300px;
  height: 300px;
  border: var(--grey) 1px solid;
  display: block;
}

.listing:hover {
    cursor: pointer;
    /* background-color: blue; */
}

.listing-image {
    max-width: 300px;
    max-height: 300px;
}