.listing-card {
  padding: 0;
  display: block;
  text-align: left;
}

.listing-card:hover {
    cursor: pointer;
}

.listing-card-image {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 22vw;
  object-fit: cover;
}

.listing-card-info {
  padding: 10px;
}