* {
  --white: #ffffff;
  --light-grey: #e6e6e6;
  --grey: #c1c1c1;
  --black: #000000;
  --scu-red: #A32035;
  
  /* buttons with active and inactive states */
  --button: #e6e6e6;
  --button-hover: #c1c1c1;
  --button-inactive: #f6f6f6;
}

#root {
  margin: 0;
  /* text-align: center; */
  overflow-x:hidden;
}

a {
  color: var(--black);
  text-decoration: none;
}

.button {
  margin: 10px 0;
  padding: 10px 15px;
  border: var(--grey) 1px solid;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
  transition: 0.2s;
  font-size: 1em;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 5px 5px 2px var(--light-grey) ;
}

.red {
  background-color: var(--scu-red);
  color: var(--white);
}

.textbox {
    min-height: 30px;
    /* width: 70%; */
    margin: 10px 0;
    padding: 0 10px;
    border: var(--grey) 1px solid;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--black);
}

#popup-container {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    position: fixed;
}

#popup-bg {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 9;
}

#popup {
    width: 50%;
    max-height: 40%;
    padding: 10px 15px;
    border: var(--grey) 1px solid;
    border-radius: 5px;
    background-color: var(--white);
    z-index: 10;
    display: block;
    position: fixed;
    text-align: center;
}


#navbar {
  width: 100%;
  min-width: 470px;
  /* height: 90px; */
  border-bottom: var(--grey) solid 1px;
  display: flex;
  align-items: center;  
  justify-content: space-between;
  background-color: var(--white);
  text-align: center;
}

#navbar > * > * {
  margin: 0 5px;
}

.navbar-left {
  margin: 10px 0;
  width: 100%;
  max-width: 100%;
  display:flex;
  align-items: center;  
}

#logo-container {
  height: 60px;
  margin-left: 10px;
  display: flex;
  color: var(--scu-red);
  text-align: left;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

#logo-container img {
  height: 100%;
  margin-right: 5px;
}

#logo-container p {
  margin: 0;
}

#searchbar-form {
  width: 100%;
  padding: 0 10px;
  margin: 0 20px;

}

#searchbar {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: var(--grey) 1px solid;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--black);
}

.navbar-right {
  margin: 10px 0;
  margin-right: 10px;
  display:flex;
  width: 900px;
  justify-content: flex-end;
}

.navlink {
  max-width: 120px;
  padding: 8px 12px;
  border-radius: 5px;
  color: var(--black);
  transition: 0.2s;
}

.navlink:hover {
  background-color: var(--light-grey);
  color: var(--black);
}

@media only screen and (max-width: 1050px) {
  #navbar {
    display: inline-block;
  }

  .navbar-left {
    width: 100vw;
  }

  #searchbar-form {
    margin: 0 40px 0 20px;
  }

  .navbar-right {
    margin-right: 0;
    width: 100vw;
    min-width: 470px;
    justify-content:center;
  }
}

#content {
  margin: 0 50px;
}

#content-center {
  margin: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#request-boards-container {
  display: grid;
  gap: 15px;
  grid-template-columns: auto auto;
}

@media only screen and (max-width: 1050px) {
  #request-boards-container {
    grid-template-columns: auto;
  }
}

.request-board-button {
  margin: 0;
  height: 100px;
  display: block;
  text-align: left;
}

.request-board-button h2 {
  margin-top: 0;
}

.create-request-button {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}