* {
  --white: #ffffff;
  --light-grey: #e6e6e6;
  --grey: #c1c1c1;
  --black: #000000;
  --scu-red: #A32035;
}

#root {
  margin: 0;
  /* text-align: center; */
}

a {
  color: var(--black);
  text-decoration: none;
}

.button {
  margin: 10px 0;
  padding: 10px 15px;
  border: var(--grey) 1px solid;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
  transition: 0.2s;

}

.button:hover {
  cursor: pointer;
  box-shadow: 0 5px 5px 2px var(--light-grey) ;
}

.red {
  background-color: var(--scu-red);
  color: var(--white);
}

#navbar {
  width: 100%;
  /* height: 90px; */
  border-bottom: var(--grey) solid 1px;
  display: flex;
  align-items: center;  
  justify-content: space-between;
  background-color: var(--white);
}

#navbar > * > * {
  margin: 0 5px;
}

.navbar-left {
  margin: 10px 0;
  width: 100%;
  max-width: 100%;
  display:flex;
  align-items: center;  
}

#logo-container {
  height: 60px;
  margin-left: 10px;
  display: flex;
  color: var(--scu-red);
  text-align: left;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

#logo-container img {
  height: 100%;
  margin-right: 5px;
}

#logo-container p {
  margin: 0;
}

#searchbar {
  width: 100%;
  max-width: 100%;
  height: 30px;
  margin-left: 20px;
  padding: 0 10px;
  border: var(--grey) 1px solid;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--black);
}


.navbar-right {
  margin: 10px 0;
  margin-right: 10px;
  display:flex;
  width: 900px;
  justify-content: flex-end;
}

.navlink {
  max-width: 120px;
  padding: 8px 12px;
  border-radius: 5px;
  color: var(--black);
  transition: 0.2s;
}

.navlink:hover {
  background-color: var(--light-grey);
  color: var(--black);
}

@media only screen and (max-width: 1050px) {
  #navbar {
    display: inline-block;
  }

  .navbar-left {
    width: 100vw;
  }

  #searchbar {
    margin-right: 30px;
  }

  .navbar-right {
    margin-right: 0;
    width: 100vw;
    justify-content:center;
  }
}

#content {
  margin: 0 50px;
}



#request-boards-container {
  display: grid;
  gap: 15px;
  grid-template-columns: auto auto;
}

@media only screen and (max-width: 1050px) {
  #request-boards-container {
    grid-template-columns: auto;
  }
}

.request-board-button {
  margin: 0;
  height: 100px;
  display: block;
  text-align: left;
}

.request-board-button h2 {
  margin-top: 0;
}